a.notpinned {
    color: #cecece;
    background-color: transparent !important;
}

a.notpinned:hover {
    color: #84878b;
    background-color: transparent !important;
}


a.pinned {
    color: #00a6dc !important;
    background-color: transparent !important;
}


a.pinned:hover {

    background-color: transparent !important;
}

.sa-button {
    font-family: FontAwesome !important;
    width: auto !important;
    margin-bottom: 10px;
}

.widget_sticky_acivity .activity-header {
    margin-top: -8px;
	margin-left: 8px;
}

.widget_sticky_acivity .pinned {
    float: right;
	margin-left: 3px;
	/*
	font-size: 50px;
    
    margin-right: 5px;
	*/
}
#buddypress form#whats-new-form p.activity-greeting{
	clear: both;
}

.widget_sticky_acivity {
    margin-top: -42px;
}

.widget_sticky_acivity .activity-content {
    float: left;
    min-width: 350px;
    width: 49.5%;
    margin-top: 10px;
}

.widget_sticky_acivity .activity-content .activity-inner{
	margin: 0 3px 3px 7px !important;
	background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 6px 6px 10px -4px rgba(0, 0, 0, 0.75);
    overflow: auto;
    padding: 1.5%;
    
}