
a.notpinned {
    color: #cecece;
    background-color: transparent !important;
}

a.notpinned:hover {
    color: #84878b;
    background-color: transparent !important;
}


a.pinned {
    color: #00a6dc !important;
    background-color: transparent !important;
}


a.pinned:hover {

    background-color: transparent !important;
}

.sa-button {
    font-family: FontAwesome !important;
    width: auto !important;
    margin-bottom: 10px;
}

.widget_sticky_acivity .activity-header {
    float: right;
    margin-top: -6px;
}
